<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <loops>
        <loop name="tabs" class="Tabs\Loop\Tabs" />
    </loops>

    <forms>
        <form name="tabs.admin.content" class="Tabs\Form\TabsContentForm"/>
        <form name="tabs.admin.product" class="Tabs\Form\TabsProductForm"/>
    </forms>

    <hooks>
        <hook id="tabs.hook.back" class="Tabs\Hook\Back\BackHook" scope="request">
            <tag name="hook.event_listener" type="backoffice" event="main.top-menu-tools"/>
            <argument type="service" id="router.tabs"/>
        </hook>
    </hooks>

    <services>
        <service id="tabs.action" class="Tabs\Action\Tabs">
            <tag name="kernel.event_subscriber"/>
        </service>

        <service id="smarty.plugin.tabs" class="Tabs\Smarty\Plugins\TabsPlugin">
            <tag name="thelia.parser.register_plugin"/>
            <argument type="service" id="thelia.securityContext" />
            <argument type="service" id="thelia.template_helper" />
        </service>
    </services>

</config>
